<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categorias</title>
    <script src="../js/axios.js"></script>
    <script src="../js/categoria.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
          }
          .pagina{
            color: blue;
            cursor: pointer;
          }
    </style>
</head>
<body>
    <h1>Categorias</h1>
    <div>
        <label for="nombre">Nombre Categoria</label>
        <input type="text" name="txtNombre" id="txtNombre">
    </div>
    <div>
        <label for="codigo">Codigo Categoria</label>
        <input type="number" name="txtCodigo" id="txtCodigo">
    </div>
    <div>
        <button onclick="create()">Crear</button>
        <button onclick="update()">Modificar</button>
        <button onclick="deletes()">Eliminar</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Codigo</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <tfoot>
                <tr id="list"></tr>
            </tfoot>
        </tbody>
    </table>
    <div id="errores">

    </div>
</body>
</html>